@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;800&family=Libre+Baskerville&display=swap');

$font: 'Dosis', sans-serif;

//input variables
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;



$color1:#343C46;
$color2:#4E5B67;
$color3:#65737E;
$color4:#A7ADBB;
$color5:#C1C5CE;