.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.85);
    box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.85);

}

.header__button-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nasa-logo {
    width: 100px;
}

.hidden {
    display: none !important;
}