.header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;

}

.header__button-container{
    display:flex;
    justify-content: center;
    align-items: center;

}

.nasa-logo {
    width: 100px;
}

.hidden {
    display: none !important;
}