@import '../utils/variables.scss';

.home{
    padding:15px;

    
}

.home__nasa-image{
    margin:auto;
    height:450px;
    border: 1px dotted white;
    border-radius: 15px;
     
}

.home__button-container{
    display: flex;
    justify-content: space-around;


}