.landing-list{
    color:white;
}

.landing-list__form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.landings-list__search-button{
    margin:15px;
}

.landings-list__card-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.leaflet-container{
    height:50vh;
    width:100vw;
}


