.navbar{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    flex-shrink: 2;
}

.navbar__list{
    list-style: none;
    overflow-y: visible;
}

a{
    text-decoration: none;
}

.burger{
    width:35px;
}