@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
    border-radius: 15px;;
}

.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
    @include shadow;
   
}

@media all and (max-width:30em) {
    .button1 {
        display: block;
        margin: 0.4em auto;
    }
}