

.cart-icon{
    max-width:30px;
    border: 0.1em solid #FFFFFF;
    box-sizing: border-box;
    transition: all 0.2s;
    border-radius: 5px;

}

   



.cart-icon:hover {
    @include shadow;
   
}